 h1 {
    color: rgb(7, 4, 0);
    background-color: rgb(212, 176, 219); 
 }
 h2 {
    color: black;
    background-color: rgb(206, 181, 230);

 }
 p{
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }